* {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}
.clear-fix {
  overflow: auto;
}
.education-entry, .work-entry, .project-entry {
  padding-right: 5%;
  padding-left: 5%;
}
h1 {
  display: inline;

  color: #F5A623;

  font-size: 40px;
  line-height: 48px;
}
h2 {
  padding: 10px;

  color: #999999;

  font-size: 24px;
  font-style: bold;
  line-height: 29px;
}
h3 {
  color: #000000;

  font-size: 20px;
  font-style: italic;
  line-height: 22px;
}
h4 {
  color: #4A4A4A;

  font-size: 14px;
  font-style: bold;
  line-height: 17px;
}
h2, h3, h4, h5 {
  padding: 10px;
  padding-right: 5%;
  padding-left: 5%;
}
.date-text {
  float: left;

  color: #999999;

  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}
.location-text {
  float: right;

  color: #999999;

  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}
p {
  color: #333333;

  font-size: 14px;
  line-height: 21px;
}
a {
  display: block;

  margin-top: 10px;

  text-decoration: none;

  color: #1199C3;
}
.welcome-message {
  color: #F3F3F3;

  font-size: 18px;
  font-style: italic;
  line-height: 28px;
}
#skillsH3 {
  display: none;

  color: #F5AE23;
}
#skills {
  display: none;
}
.orange {
  background-color: #F5AE23;
}
.orange-text {
  color: #F5AE23;
}
.white-text {
  color: #FFFFFF;

  font-weight: bold;
}
.gray {
  clear: both;

  padding-bottom: 10px;

  background-color: #F3F3F3;
}
.dark-gray {
  background-color: #212121;
}

/* TODO: Replace with image later */

#header {
  background-color: #212121;
}
.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  padding: 10px;

  flex-wrap: wrap;
  justify-content: space-around;
}
.center-content {
  padding: 5%;
}
ul {
  list-style-type: none;
}
.biopic {
  display: none;
  float: left;

  width: 200px;
  padding: 10px;
}
img {
  width: 700px;
}
span {
  padding: 5px;
}
#letsConnect {
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}
@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}
@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
}
#map {
  display: block;

  height: 100%;
  margin-right: 5%;
  margin-left: 5%;
}
#mapDiv {
  width: 100%;
  height: 400px;
  padding-bottom: 5%;
}
@media only screen and (min-width: 750px) {
  #skillsH3, #skills, .biopic {
    display: block;
  }
}
@media only screen and (max-width: 400px) {
  #skillsH3, #skills, .biopic {
    display: block;
  }
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  #map {
    display: block;
  }
  #mapDiv {
    display: block;
  }
  #container {
    display: block;
  }
  img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  #skillsH3, #skills, .biopic {
    display: block;
  }
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  #map {
    display: block;
  }
  #mapDiv {
    display: block;
  }
  #container {
    display: block;
  }
  img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  #skillsH3, #skills, .biopic {
    display: block;
  }
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  #map {
    display: block;
  }
  #mapDiv {
    display: block;
  }
  #container {
    display: block;
  }
  img {
    width: 100%;
    height: auto;
  }
}
